<!DOCTYPE html>
<html>
<head>
    <title>NFL Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>NFL HUB</h1>
    <p>Season 2025/26</p>
</header>

<div class="search-container">
    <input type="text" id="liveSearch" placeholder="Find a team...">
</div>

<div class="team-grid" id="teamGrid">
    {% for team in teams %}
    <a href="/team/{{ team.team_abbr }}" class="team-link" style="text-decoration: none; color: inherit;">
        <div class="team-card" style="border-top: 5px solid {{ team.team_color }}">
            <img src="{{ team.team_logo_espn }}" class="logo">
            <h3>{{ team.team_name }}</h3>
            <p style="color: var(--text-dim)">{{ team.team_conf }} | {{ team.team_division }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
    const searchInput = document.getElementById('liveSearch');
    const teamLinks = document.querySelectorAll('.team-link');

    searchInput.addEventListener('input', (e) => {
        const value = e.target.value.toLowerCase();
        teamLinks.forEach(link => {
            const name = link.innerText.toLowerCase();
            link.style.display = name.includes(value) ? 'block' : 'none';
        });
    });
</script>

</body>
</html>